body {
    background-size: cover;
    font-family: 'Bubblegum Sans', cursive;
}

.heading {
    font-size: 25px;
    width: 100%;
    margin: 0px;
}


#song_name {
    font-size: 23px;
}

canvas 
  {
    border:5px solid white;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px grey;}
  to {box-shadow: 1px 1px 38px white;}

}

.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
  }